recetas_workflow_v3.json
{
  "name": "RECETAS-AI-Auto-Publisher-v3",
  "nodes": [
    {
      "id": "sticky-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        60
      ],
      "parameters": {
        "content": "## RECETAS-AI-Auto-Publisher v3.7\n\n**Flujo:** Schedule → GET slugs → Extraer → Nombrador → Preparar Prompt → Chef Redactor v3 → Parser → YouTube (búsqueda + validar + procesar) → Wikimedia (imagen libre) → Enriquecer → Quality Gate → GET GitHub → Merge → PUT GitHub\n\n**Imágenes:** 1) Wikimedia Commons (foto del plato, sin personas) 2) Unsplash por categoría (fallback). NUNCA YouTube thumbnails.\n**SEO:** keywords long-tail, description con keyword, FAQs People Also Ask.\n**Supermercados:** ingredientes con donde comprarlos (Supermaxi, Megamaxi, TIA).",
        "height": 180,
        "width": 1900
      }
    },
    {
      "id": "schedule-trigger",
      "name": "Cada 12 Horas",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        320
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      }
    },
    {
      "id": "get-existing-slugs",
      "name": "GET slugs existentes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        340,
        320
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/LordRa2pat/recetas-ecuador/contents/recipes.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "token {{$env.GITHUB_TOKEN}}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-recetas-ecuador-bot"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "extract-slugs",
      "name": "Extraer slugs existentes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        320
      ],
      "parameters": {
        "jsCode": "const githubData = $input.first().json;\nconst currentContent = Buffer.from(githubData.content, 'base64').toString('utf8');\nlet recipes = [];\ntry { recipes = JSON.parse(currentContent); if (!Array.isArray(recipes)) recipes = []; } catch(e) { recipes = []; }\n\nconst existingSlugs = recipes.map(r => r.slug).filter(Boolean);\nconst existingTitles = recipes.map(r => r.title).filter(Boolean);\n\nreturn [{ json: { existingSlugs, existingTitles, totalExisting: recipes.length } }];"
      }
    },
    {
      "id": "dish-namer",
      "name": "Nombrador de Plato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        320
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.x.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.XAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-recetas-bot/3.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'grok-3-mini', max_tokens: 40, messages: [ { role: 'system', content: 'Eres un experto en gastronomía ecuatoriana. Solo respondes con nombres de platos.' }, { role: 'user', content: 'Dame el nombre de un plato típico ecuatoriano poco conocido o una variación original. IMPORTANTE: NO sugieras ninguno de estos platos que ya existen: ' + $('Extraer slugs existentes').first().json.existingTitles.slice(0, 30).join(', ') + '. Elige algo diferente, menos conocido o una variación regional. Solo responde con el nombre del plato, sin explicaciones, sin puntuación al final.' } ] }) }}",
        "options": {}
      }
    },
    {
      "id": "preparar-prompt-chef",
      "name": "Preparar Prompt Chef",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        320
      ],
      "parameters": {
        "jsCode": "const dishName = $('Nombrador de Plato').first().json.choices[0].message.content.trim();\n\nconst systemPrompt =\n  'Eres un equipo de tres expertos combinados:\\n\\n' +\n  '1. CHEF ECUATORIANO PROFESIONAL: Conoces todas las recetas regionales del Ecuador ' +\n  'con profundidad gastronómica, proporciones exactas, técnicas de cocción y variantes regionales.\\n\\n' +\n  '2. GUÍA TURÍSTICO Y CONSULTOR DE DIÁSPORA: Para platos con ingredientes difíciles fuera de Ecuador, ' +\n  'sabes exactamente qué sustitutos usar en EE.UU. y Europa. Conoces dónde probar cada plato.\\n\\n' +\n  '3. EXPERTO SEO CULINARIO: Escribes títulos y descripciones optimizados para Google. ' +\n  'Generas keywords long-tail relevantes.\\n\\n' +\n  'RESPONDE ÚNICAMENTE con JSON válido, sin markdown, sin explicaciones.';\n\nconst imageList = [\n  '- Sopas/cremas/caldos: https://images.unsplash.com/photo-1547592166-23ac45744acd?w=800&q=80',\n  '- Sopa de mariscos/ceviche: https://images.unsplash.com/photo-1565557748-fcea5a7f3c31?w=800&q=80',\n  '- Arroz/plato fuerte con carnes: https://images.unsplash.com/photo-1516684732162-798a0062be99?w=800&q=80',\n  '- Fritada/cerdo/hornado: https://images.unsplash.com/photo-1544025162-d76538741552?w=800&q=80',\n  '- Seco de pollo/estofado: https://images.unsplash.com/photo-1534939561126-855b8675edd7?w=800&q=80',\n  '- Patacones/yuca/vegetariano: https://images.unsplash.com/photo-1512621776951-a57141f2eefd?w=800&q=80',\n  '- Postre/dulce/colada: https://images.unsplash.com/photo-1567206563114-c179706f4e42?w=800&q=80',\n  '- Bebida/jugo/chicha: https://images.unsplash.com/photo-1544145945-f90425340c7e?w=800&q=80',\n  '- Desayuno/pan/bolon: https://images.unsplash.com/photo-1504754524776-8f4f37790ca0?w=800&q=80',\n  '- General ecuatoriano: https://images.unsplash.com/photo-1567337710282-00832b415979?w=800&q=80'\n].join('\\n');\n\nconst userPrompt =\n  'Crea la receta completa para: ' + dishName + '\\n\\n' +\n  'Responde con un objeto JSON que siga EXACTAMENTE este esquema:\\n' +\n  '{\\n' +\n  '  \"slug\": \"nombre-kebab-case-sin-acentos\",\\n' +\n  '  \"title\": \"Nombre Exacto Busqueda Popular (ej: Sopa de Mani Ecuatoriana Receta Tradicional)\",\\n' +\n  '  \"description\": \"EMPIEZA con keyword principal del plato. Minimo 90 chars, maximo 155.\",\\n' +\n  '  \"region\": \"Sierra|Costa|Amazonia|Galapagos\",\\n' +\n  '  \"category\": \"Sopas|Platos Fuertes|Entradas|Postres|Bebidas|Desayunos|Mariscos\",\\n' +\n  '  \"difficulty\": \"Facil|Media|Dificil\",\\n' +\n  '  \"servings\": \"X personas\",\\n' +\n  '  \"prep_time\": \"X min\",\\n' +\n  '  \"cook_time\": \"X min\",\\n' +\n  '  \"total_time\": \"X min\",\\n' +\n  '  \"image_url\": \"Elige URL MAS APROPIADA segun categoria del plato:\\n' + imageList + '\\nNUNCA uses photo-XXXX. Elige URL completa de la lista.\",\\n' +\n  '  \"image_alt\": \"Descripcion real de la imagen para SEO y accesibilidad\",\\n' +\n  '  \"ingredients\": [\"1 taza mani crudo (Supermaxi, Megamaxi, TIA - seccion granos)\", \"...\"],\\n' +\n  '  \"instructions\": [\"Paso 1...\", \"Paso 2...\", \"...minimo 6 pasos...\"],\\n' +\n  '  \"tips\": [\"Tip 1...\", \"Tip 2...\"],\\n' +\n  '  \"keywords\": [\"keyword1\", \"keyword2\", \"...8-12 terminos...\"],\\n' +\n  '  \"faqs\": [\\n' +\n  '    {\"q\": \"Con que se acompana?\", \"a\": \"Respuesta directa 1-2 oraciones\"},\\n' +\n  '    {\"q\": \"Cuanto tiempo se conserva?\", \"a\": \"Respuesta\"},\\n' +\n  '    {\"q\": \"Es dificil de hacer?\", \"a\": \"Respuesta\"}\\n' +\n  '  ],\\n' +\n  '  \"date_published\": \"2026-02-23\",\\n' +\n  '  \"target_audience\": \"Local|Diaspora|Turista\",\\n' +\n  '  \"origin_cities\": [{\"city\": \"Quito\", \"province\": \"Pichincha\", \"region\": \"Sierra\"}],\\n' +\n  '  \"youtube_query\": \"nombre plato receta ecuatoriana preparar\",\\n' +\n  '  \"image_keywords\": [\"ecuadorian food\", \"traditional dish\"],\\n' +\n  '  \"international_substitutes\": [{\"original\": \"...\", \"sustituto_usa\": \"...\", \"sustituto_europa\": \"...\"}],\\n' +\n  '  \"tourism_route\": \"Texto ruta gastronomica con ciudad y precio\"\\n' +\n  '}\\n\\n' +\n  'SEO CRITICO - POSICIONAR #1 EN GOOGLE ECUADOR:\\n' +\n  '- title: nombre exacto de busqueda popular que la gente escribe en Google\\n' +\n  '- description: EMPIEZA con keyword principal. MINIMO 90 caracteres.\\n' +\n  '- keywords: 8-12 terminos reales incluyendo variantes regionales y long-tail\\n' +\n  '- faqs: EXACTAMENTE 3 preguntas tipo People Also Ask de Google\\n' +\n  '- ingredients: añadir donde comprar (Supermaxi, Megamaxi, TIA) solo para no ultra-comunes\\n\\n' +\n  'REGLAS:\\n' +\n  '- origin_cities: 2-4 ciudades donde el plato es tipico\\n' +\n  '- youtube_query: maximo 8 palabras para busqueda YouTube\\n' +\n  '- image_keywords: 5-8 terminos en ingles para buscar foto\\n' +\n  '- Minimo 8 ingredientes con cantidades exactas, 6 pasos de instrucciones, 2-4 tips\\n' +\n  '- Incluye international_substitutes si tiene ingredientes dificiles fuera de Ecuador\\n' +\n  '- Incluye tourism_route si tiene ruta gastronomica clara\\n' +\n  '- description: MINIMO 90 caracteres';\n\n// Devolver OBJETO (no string) — n8n jsonBody=\"={{ $json.payload }}\" lo serializa solo\nconst payload = {\n  model: 'grok-3',\n  max_tokens: 3000,\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: userPrompt }\n  ]\n};\n\nreturn [{ json: { payload: payload } }];"
      }
    },
    {
      "id": "chef-redactor",
      "name": "Chef Redactor v3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        320
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.x.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.XAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-recetas-bot/3.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "options": {},
        "jsonBody": "={{ $json.payload }}"
      }
    },
    {
      "id": "parse-recipe",
      "name": "Parsear Receta JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        320
      ],
      "parameters": {
        "jsCode": "const raw = $input.first().json.choices?.[0]?.message?.content || '';\nconst cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet recipe;\ntry {\n  recipe = JSON.parse(cleaned);\n} catch(e) {\n  throw new Error('JSON inválido de Grok: ' + e.message + ' | Inicio: ' + cleaned.slice(0, 200));\n}\n\nif (!recipe.title || !recipe.slug) {\n  throw new Error('Faltan campos requeridos title/slug: ' + JSON.stringify(recipe).slice(0, 200));\n}\n\nif ((recipe.description || '').length < 80) {\n  throw new Error('Description demasiado corta (' + (recipe.description || '').length + ' chars): ' + recipe.description);\n}\n\n// Normalizar slug\nrecipe.slug = recipe.slug\n  .toLowerCase().trim()\n  .replace(/[áàäâ]/g, 'a').replace(/[éèëê]/g, 'e')\n  .replace(/[íìïî]/g, 'i').replace(/[óòöô]/g, 'o')\n  .replace(/[úùüû]/g, 'u').replace(/ñ/g, 'n')\n  .replace(/[^a-z0-9-]/g, '-').replace(/-+/g, '-')\n  .replace(/^-|-$/g, '');\n\n// Garantizar campos v3\nif (!recipe.origin_cities) recipe.origin_cities = [];\nif (!recipe.youtube_query) recipe.youtube_query = recipe.title + ' receta ecuatoriana';\nif (!recipe.image_keywords) recipe.image_keywords = [recipe.title, 'ecuadorian food', 'traditional dish'];\nif (!recipe.image_alt) recipe.image_alt = recipe.title + ', plato típico ecuatoriano';\n\nreturn [{ json: recipe }];"
      }
    },
    {
      "id": "youtube-search",
      "name": "YouTube: Buscar Videos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        220
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://www.googleapis.com/youtube/v3/search?part=snippet&q={{ encodeURIComponent($('Parsear Receta JSON').first().json.youtube_query + ' receta ecuatoriana') }}&type=video&regionCode=EC&relevanceLanguage=es&maxResults=5&videoCategoryId=26&key={{ $env.YT_API_KEY }}",
        "options": {}
      }
    },
    {
      "id": "youtube-validate",
      "name": "YouTube: Validar Embeddable",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        220
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://www.googleapis.com/youtube/v3/videos?part=status,snippet&id={{ $json.items.slice(0,5).map(i => i.id.videoId).filter(Boolean).join(',') }}&key={{ $env.YT_API_KEY }}",
        "options": {}
      }
    },
    {
      "id": "process-youtube",
      "name": "Procesar Videos YouTube",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2020,
        220
      ],
      "parameters": {
        "jsCode": "const ytValidated = $input.first().json;\nconst items = ytValidated.items || [];\n\n// Filtrar solo embeddable\nconst embeddable = items.filter(item => item.status && item.status.embeddable !== false);\n\nconst youtube_videos = embeddable.slice(0, 3).map(item => ({\n  title: item.snippet?.title || '',\n  videoId: item.id,\n  channel: item.snippet?.channelTitle || '',\n  url: 'https://www.youtube.com/watch?v=' + item.id,\n  embed: 'https://www.youtube-nocookie.com/embed/' + item.id,\n  uploadDate: (item.snippet?.publishedAt || '').split('T')[0] || undefined,\n  description: (item.snippet?.description || '').slice(0, 200)\n}));\n\nreturn [{ json: { youtube_videos } }];"
      }
    },
    {
      "id": "enrich-recipe",
      "name": "Enriquecer Receta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2020,
        500
      ],
      "parameters": {
        "jsCode": "const recipe      = $('Parsear Receta JSON').first().json;\nconst youtubeData = $('Procesar Videos YouTube').first().json;\nconst wikiData    = $('Procesar Imagen Wikimedia').first().json;\nconst placesData  = $('Procesar Places').first().json;\n\nconst enriched = Object.assign({}, recipe);\n\n// ── YouTube videos: guardar SOLO los datos del video, NUNCA el thumbnail como imagen ──\nif (youtubeData.youtube_videos && youtubeData.youtube_videos.length > 0) {\n  enriched.youtube_videos = youtubeData.youtube_videos;\n  // NO usar thumbnail de YouTube como image_url — pueden mostrar personas\n}\n\n// ── Google Places ──────────────────────────────────────────────────────────────\nif (placesData.places && placesData.places.length > 0) {\n  enriched.places = placesData.places;\n}\n\n// ── Imagen de portada: Wikimedia Commons (foto real del plato, libre de personas) ──\nconst fallbacks = {\n  'Sopas':          'https://images.unsplash.com/photo-1547592180-85f173990554?w=800&q=80',\n  'Platos Fuertes': 'https://images.unsplash.com/photo-1555939594-58d7cb561ad1?w=800&q=80',\n  'Mariscos':       'https://images.unsplash.com/photo-1559827260-dc66d52bef19?w=800&q=80',\n  'Entradas':       'https://images.unsplash.com/photo-1512621776951-a57141f2eefd?w=800&q=80',\n  'Postres':        'https://images.unsplash.com/photo-1578985545062-69928b1d9587?w=800&q=80',\n  'Bebidas':        'https://images.unsplash.com/photo-1513558161293-cdaf765ed2fd?w=800&q=80',\n  'Desayunos':      'https://images.unsplash.com/photo-1533089860892-a7c6f0a88666?w=800&q=80',\n};\nconst defaultImg = 'https://images.unsplash.com/photo-1567337710282-00832b415979?w=800&q=80';\nconst cat = enriched.category || 'Platos Fuertes';\n\n// 1. Wikimedia Commons (si disponible y no es YouTube)\nif (wikiData && wikiData.thumburl &&\n    !wikiData.thumburl.includes('ytimg') &&\n    !wikiData.thumburl.includes('youtube') &&\n    wikiData.thumburl.startsWith('http')) {\n  enriched.image_url    = wikiData.thumburl;\n  enriched._image_source = 'wikimedia_commons';\n  if (wikiData.author || wikiData.license) {\n    enriched.image_credit = {\n      source: 'Wikimedia Commons',\n      author: wikiData.author || '',\n      license: wikiData.license || 'CC BY-SA',\n      url: wikiData.descriptionurl || '',\n    };\n  }\n}\n// 2. Si image_url está vacía o es YouTube thumbnail → usar Unsplash por categoría\nelse if (!enriched.image_url ||\n         enriched.image_url.includes('ytimg.com') ||\n         enriched.image_url.includes('youtube.com') ||\n         enriched.image_url.includes('photo-XXXX') ||\n         enriched.image_url.length < 30) {\n  enriched.image_url    = fallbacks[cat] || defaultImg;\n  enriched._image_source = 'unsplash_category';\n}\n// 3. Si el Chef Redactor ya puso una URL de Unsplash válida, mantenerla\nelse {\n  enriched._image_source = enriched._image_source || 'grok_unsplash';\n}\n\n// Asegurar que image_alt describe el plato, no personas\nif (!enriched.image_alt || enriched.image_alt.toLowerCase().includes('chef')) {\n  enriched.image_alt = `Fotografía del plato: ${enriched.title} — comida ecuatoriana tradicional`;\n}\n\ndelete enriched.youtube_query;\n\nreturn [{ json: enriched }];"
      }
    },
    {
      "id": "quality-gate",
      "name": "Quality Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2260,
        500
      ],
      "parameters": {
        "jsCode": "const recipe = $input.first().json;\nconst errors = [];\n\n// Campos obligatorios\nif (!recipe.slug || recipe.slug.length < 3) errors.push('slug inválido: ' + recipe.slug);\nif (!recipe.title || recipe.title.length < 5) errors.push('title muy corto: ' + recipe.title);\nif (!recipe.description || recipe.description.length < 80) errors.push('description < 80 chars: ' + (recipe.description || '').length + ' chars');\n\n// Contenido mínimo\nif (!recipe.ingredients || recipe.ingredients.length < 8) errors.push('ingredientes < 8: ' + (recipe.ingredients || []).length);\nif (!recipe.instructions || recipe.instructions.length < 6) errors.push('instrucciones < 6: ' + (recipe.instructions || []).length);\n\n// Videos (aviso, no bloquea)\nconst hasVideos = recipe.youtube_videos && recipe.youtube_videos.length > 0;\nif (!hasVideos) {\n  console.warn('Receta sin videos YouTube — se publica igual');\n}\n\nif (errors.length > 0) {\n  throw new Error('QUALITY_GATE_FAILED: ' + errors.join(' | '));\n}\n\nconsole.log('Quality Gate OK:', recipe.slug, '| videos:', (recipe.youtube_videos || []).length);\nreturn [{ json: recipe }];"
      }
    },
    {
      "id": "get-github",
      "name": "GET recipes.json (GitHub)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2500,
        500
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/LordRa2pat/recetas-ecuador/contents/recipes.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "token {{$env.GITHUB_TOKEN}}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-recetas-ecuador-bot"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "merge-commit",
      "name": "Merge + Preparar Commit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2740,
        500
      ],
      "parameters": {
        "jsCode": "const newRecipe = $('Quality Gate').first().json;\nconst githubData = $input.first().json;\nconst fileSha = githubData.sha;\n\nconst currentContent = Buffer.from(githubData.content, 'base64').toString('utf8');\nlet recipes = [];\ntry {\n  recipes = JSON.parse(currentContent);\n  if (!Array.isArray(recipes)) recipes = [];\n} catch(e) { recipes = []; }\n\n// Dedup por slug\nif (recipes.some(r => r.slug === newRecipe.slug)) {\n  throw new Error('DUPLICADO_SLUG: ' + newRecipe.slug);\n}\n\n// Auto-increment ID\nconst maxId = recipes.reduce((max, r) => Math.max(max, Number(r.id) || 0), 0);\nnewRecipe.id = maxId + 1;\nnewRecipe.created_at = new Date().toISOString();\n\n// Prepend (más reciente primero)\nrecipes.unshift(newRecipe);\n\nconst newContent = Buffer.from(JSON.stringify(recipes, null, 2), 'utf8').toString('base64');\nconst hasPlaces = (newRecipe.places || []).length;\nconst hasVideos = (newRecipe.youtube_videos || []).length;\nconst extras = [hasPlaces ? hasPlaces + ' lugares' : '', hasVideos ? hasVideos + ' videos' : ''].filter(Boolean).join(', ');\n\nreturn [{ json: {\n  sha: fileSha,\n  content: newContent,\n  slug: newRecipe.slug,\n  title: newRecipe.title,\n  id: newRecipe.id,\n  total: recipes.length,\n  extras: extras || 'sin enriquecimiento'\n} }];"
      }
    },
    {
      "id": "put-github",
      "name": "PUT recipes.json a GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2980,
        500
      ],
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/LordRa2pat/recetas-ecuador/contents/recipes.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "token {{$env.GITHUB_TOKEN}}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-recetas-ecuador-bot"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { message: 'feat(recetas): agregar ' + $json.slug + ' [ID:' + $json.id + '] ' + $json.extras + ' — auto v3', content: $json.content, sha: $json.sha } }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Cada 12 Horas": {
      "main": [
        [
          {
            "node": "GET slugs existentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET slugs existentes": {
      "main": [
        [
          {
            "node": "Extraer slugs existentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer slugs existentes": {
      "main": [
        [
          {
            "node": "Nombrador de Plato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nombrador de Plato": {
      "main": [
        [
          {
            "node": "Preparar Prompt Chef",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chef Redactor v3": {
      "main": [
        [
          {
            "node": "Parsear Receta JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Receta JSON": {
      "main": [
        [
          {
            "node": "YouTube: Buscar Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube: Buscar Videos": {
      "main": [
        [
          {
            "node": "YouTube: Validar Embeddable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube: Validar Embeddable": {
      "main": [
        [
          {
            "node": "Procesar Videos YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Videos YouTube": {
      "main": [
        [
          {
            "node": "Enriquecer Receta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enriquecer Receta": {
      "main": [
        [
          {
            "node": "Quality Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Gate": {
      "main": [
        [
          {
            "node": "GET recipes.json (GitHub)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET recipes.json (GitHub)": {
      "main": [
        [
          {
            "node": "Merge + Preparar Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge + Preparar Commit": {
      "main": [
        [
          {
            "node": "PUT recipes.json a GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt Chef": {
      "main": [
        [
          {
            "node": "Chef Redactor v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}